ul,
li,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
section,
img,
aside,
header,
footer {
    padding: 0;
    margin: 0;
    transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -moz-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -ms-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -webkit-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    -o-transition: all .25s cubic-bezier(.455,.03,.515,.955);
    outline: none;
}
body{   
    font-family: 'Poppins', sans-serif;
    background: transparent !important;
}
li{
    list-style-type:none;
}
select, input, a, button {
    outline: none;
}
@media (min-width: 1200px){
    .container {
        max-width: 1240px;
    }
}

/* =======================
HEADER
====================== */
.siteHeader {
    position: relative;
    height: 80px;
    padding: 10px;
    z-index: 9;
}
.siteHeader .logo{
    position: relative;
}
.siteHeader .logo a{
    text-decoration: none;
}
.siteHeader .logo img{
    height: 63px;
    display: inline-block;
}
.siteHeader .menuWrap {
    padding-top: 11px;
}
.siteHeader .menuWrap .mainMenu {
    text-align: right;   
}
.mainMenu {
    padding: 0;
    margin: 0;
}
.mainMenu li {
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;
}
.mainMenu li a {
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    display: block;    
}
.mainMenu li a:hover {
    color: #cc1526;
}
.mainMenu li.menuContact a {
    background-color: #cc1526;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    height: 42px;
    line-height: 40px;
    padding: 0 15px;
}
.mainMenu li.menuContact a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #0a0a33;
}

.mobileMenu {
    position: absolute;
    width: 50px;
    text-align: right;
    line-height: 15px;
    display: none;
    cursor: pointer;
}
.mobileMenu span {
    display: inline-block;
    height: 6px;    
    margin-bottom: 1px;
    background-color: #cc1526;
    border-radius: 5px; 
}
.mobileMenu span:nth-child(1) {
    width: 100%;
}
.mobileMenu span:nth-child(2) {
    width: 80%;
}
.mobileMenu span:nth-child(3) {
    width: 60%;
}

.menuclose {
    position: absolute;
    width: 38px;
    right: 15px;
    line-height: 15px;
    display: none;
    cursor: pointer;
    top: 30px;
}
.menuclose span {
    display: inline-block;
    height: 6px;    
    margin-bottom: 1px;
    background-color: #ffffff;
    border-radius: 5px; 
}
.menuclose span:nth-child(1) {
    width: 100%;
    transform: rotate(45deg);
    position: absolute;
}
.menuclose span:nth-child(2) {
    width: 100%;
    transform: rotate(-45deg);
    position: absolute;
}
.bodyoverlay {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: relative;
}
.bodyoverlay:after {
    content: '';
    background-color: rgba(0,0,0,0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


/* =======================
HOME BANNER
====================== */
.homeBanner {
    position: relative;
    min-height: 500px;
    margin: 50px 0;
}
.homeBanner .bannerContent {
    position: relative;
    width: 56%;
    display: inline-block;
}
.homeBanner .bannerContent h3 {
    text-transform: uppercase;
    color: #cc1526;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
}
.homeBanner .bannerContent h1 {
    font-size: 50px;
    color: #0a0a33;
    font-weight: 600;
    margin-bottom: 40px;
}
.homeBanner .bannerContent .bannerText{
    color: #70797f;
    font-size: 20px;
}
.homeBanner .bgImage {
    position: absolute;
    right: 26px;
    top: 0;
}
.homeBanner .bgImage img{
    height: 510px;
}
.homeBanner .buttonContainer {
    margin-top: 40px;
}
.homeBanner .buttonContainer a {
    margin-right: 20px;
}
.btnRed {
    text-align: center;
    color: #ffffff;
    background-color: #cc1526;
    border-radius: 5px;
    height: 50px;
    display: inline-block;  
    line-height: 50px;  
    width: 180px;
    border: 1px solid #cc1526;
}
.btnRed:hover {
    text-decoration: none;
    color: #ffffff;
    background: #0a0a33;
    border: 1px solid #0a0a33;
}
.btnWhite {
    text-align: center;
    color: #0a0a33;
    border: 1px solid #0a0a33;
    background-color: transparent;
    border-radius: 5px;
    height: 50px;
    display: inline-block;  
    line-height: 50px;  
    width: 180px;
}
.btnWhite:hover {
    text-decoration: none;
    color: #ffffff;
    background: #0a0a33;
    border: 1px solid #0a0a33;
}
.dot {
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out;    
}
.dotpulsered {
    transform: scale(1);
    animation: pulse1 2s infinite;
}
.dotpulsegray{
    transform: scale(1);
    animation: pulse2 2s infinite;
}
.dot1{
    background-color: #ff696f;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: -50px;
    right: 20%;
}
.dot2{
    background-color: #aeaed8;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 35%;
}
.dot3{
    background-color: #aeaed8;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: -40px;
    left: 15%;
}
.dot4{
    background-color: #ff696f;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 38%;
    left: 88%;
}
.dot5{
    background-color: #ff696f;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    bottom: 36%;
    left: 40%;
}
.dot6{
    background-color: #aeaed8;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 88%;
}
.dot7{
    background-color: #aeaed8;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 50%;
}
.dot8{
    background-color: #ff696f;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;    
    left: 70%;
    top: 10px;
}

/* ======================
CLIENT SLIDER
======================= */
.ourClient {
    position: relative;
    margin-bottom: 40px;
}

.clientSlider .item .itemWrap {
    text-align: center;
    height: 150px;
    line-height: 150px;
}
.clientSlider .item img {
    height: auto;
    width: 200px;
    display: inline-block;
}

/* ===================
YEAR OF GROWTH
===================== */
.yearOfGrowth {
    position: relative;
    padding: 0 0 40px 0;
}
.yearOfGrowth:before {
    content: '';
    background-image: url(../img/logo_2.png);
    background-repeat: no-repeat;
    padding-bottom: 62px;
    height: 150px;
    width: 150px;
    position: absolute;
    left: -28px;
    background-size: cover;
    top: 10%;

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.yearOfGrowth .counterBox {
    background-color: #fae7e9;
    height: 200px;
    width: 200px;
    padding: 15px;
    margin: 10px;
    text-align: center;
    padding-top: 56px;
    float: left;

    /* animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; */
}
.yearOfGrowth .counterBox strong {
    color: #ff5a6f;
    font-weight: 600;
    font-size: 24px;
    display: block;
}
.yearOfGrowth .counterBox span {
    color: #ff5a6f;
    font-size: 16px;
    display: block;
}
.yearOfGrowth .topY {
    margin-top: 40px;
    margin-left: 30px;
}
.yearOfGrowth .counterwrap:before {
    content: '';
    clear:both;
    display: block;
    position: relative;
}
.yearOfGrowth .counterwrap:after {
    content: '';
    clear: both;
    display: block;
    background-image: url(../img/dot_image.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 100% 99%;
    padding-bottom: 62px;
    position: absolute;
    height: 200px;
    width: 200px;
    right: 74px;
    bottom: -30px;
    z-index: -1;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.yearOfGrowth .counterwrap {
    display: inline-block;
    width: 88%;
    /* background-image: url(../img/dot_image.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 100% 99%;
    padding-bottom: 62px; */
}
.yearOfGrowth .growthcontent {
    position: relative;
    padding-top: 80px;
}
.yearOfGrowth .growthcontent h4 {
    color: #ff5a6f;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.yearOfGrowth .growthcontent h1 {
    color: #000000;
    margin-bottom: 30px;
    font-size: 42px;
}
.yearOfGrowth .growthcontent .subtitle {
    color: #70797f;
    font-size: 18px;
    margin-bottom: 30px;
}
.yearOfGrowth .growthcontent .gtext {
    color: #70797f;
    font-weight: 300;
}


/* ====================
HOME - SERVICES
===================== */
.hservices {
    padding: 40px 0;
}
.title {
    padding-bottom: 40px;
}
.title .titleSmall {
    color: #ff5a6f;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.title .mainTitle {
    color: #0a0a33;    
    font-size: 42px;
    margin-bottom: 15px;
}
.title .subtitle {
    color: #70797f;
    font-size: 16px;
    width: 60%;
    display: inline-block;
}
.hservices .servicebox {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    min-height: 300px;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    overflow: hidden;
}
.hservices .servicebox h4 {
    margin-bottom: 15px;
    font-size: 22px;
}
.hservices .servicebox h4 {
    margin-bottom: 15px;
    font-size: 24px;
}
.hservices .servicebox p {
    width: 95%;
    font-weight: 400;
}
.hservices .servicebox .icon {
    margin-bottom: 15px;
}
.hservices .servicebox .icon img {
    height: 90px;
}
.hservices .margintop40 {
    margin-top: 30px;
}
.hservices .beforehover {
    display: block;
}
.hservices .afterhover {
    display: none;
}
.hservices .servicebox:hover {
    background-color: #cc1526;
}
.hservices .servicebox:hover  .beforehover {
    display: none !important;
}
.hservices .servicebox:hover  .afterhover {
    display: block !important;
}

.hservices .servicebox:hover h4 {
    color: #ffffff;
}
.hservices .servicebox:hover p {
    color: #ffffff;
}



/* ====================
HOME - CASESTUDY
===================== */
.casestudy {
    position: relative;
    padding: 40px 0 40px 0;
}
.caseSlider {
    box-shadow: 0px 0px 50px 17px rgba(0,0,0,0.04);
    background: rgba(0,0,0,0.03);
}
.casestudy .titleSmall {    
    text-transform: uppercase;
}
.casestudy .cswrap .csimage {
    margin-bottom: 15px;
}
.casestudy .cswrap .csimage img{
    
}
.casestudy .cstitle {

}
.casestudy .subtitle {
    width: 100%;    
    color: #5d5d5d;
    margin-bottom: 10px;
}
.casestudy .itemwrap {
    padding: 15px 15px 25px 15px;
    background: #ffffff;    
    border-radius: 10px;
}
.caseSlider .owl-dots   {
    text-align: center;
    margin-top: 40px;    
}

.caseSlider .owl-dot {
    margin: 0 10px;
    outline: none;
}
.caseSlider .owl-dots span {
    width: 58px;
    display: inline-block;
    height: 6px;
    background: #cacaca;
    border-radius: 22px
}
.caseSlider .owl-dot.active span {
    width: 58px;
    display: inline-block;
    height: 6px;
    background: #cf3c3c;
    border-radius: 22px
}


/* ====================
HOME - TESTIMONIALS
===================== */
.testimonials {
    position: relative;
    padding: 40px 0;
}
.testimonials .tbox {
    position: relative;
    background: #ffffff;
    padding: 66px 30px 20px 30px;
    margin-top: 50px;
    border-radius: 12px;
}
.testimonials .tbox .profileimage {
    margin-bottom: 10px;
    position: absolute;
    top: -50px;
}
.testimonials .tbox .profileimage img {
    height: 100px;
    width: 100px;
    display: inline-block;
    object-fit: cover;
    object-position: center;
}
.testimonials .tbox .ttext {
    color: #70797f;
    margin-bottom: 10px;
}
.testimonials .tbox .tname {
    color: #424242;
    font-size: 15px;
    font-weight: 600;
}
.testimonials .tbox .tdesig {
    color: #424242;
    font-size: 13px;
}
.testimonialslider {
    box-shadow: 0px 0px 50px 17px rgba(0,0,0,0.02);
    background: rgba(0,0,0,0.02);
}
.testimonials .title {
    margin-bottom: 30px;
}

/* ====================
HOME - MEET THE CHIEF
===================== */
.meetcheaf {
    position: relative;
    padding: 40px 0;
}
.meetcheaf .meetleft {}
.meetcheaf .meetleft .mtext{
    color: #6a7176;
    font-size: 16px;
    font-weight: 300;
}
.meetcheaf .title .subtitle {
    width: 100%;
}
.meetcheaf .meetright {}
.meetcheaf .meetright .imagewrap{
    text-align: right;
    position: relative;
    z-index: 1;
}
.meetcheaf .meetright .imagewrap:before {
    content: '';
    background-image: url(../img/dot_image.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 19% 99%;
    padding-bottom: 62px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 79px;
    bottom: -28px;
    z-index: -1;
}
.meetcheaf .meetright .imagewrap img {
    height: 450px;
    display: inline-block;
    
}
.meetcheaf .meetleft .mplaywrap {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.meetcheaf .meetleft .mplaywrap .playicon{
    height: 85px;
    width: 85px;
    background-color: #f5cad8;
    text-align: center;
    display: block;
    border: 6px solid #ffffff;
    box-shadow: 0px 0 0 2px #f5cad8;
    border-radius: 50%;
    color: #e54e7f;
    font-size: 18px;
    position: relative;
    display: inline-block;
    transform: scale(1);
	animation: pulse 2s infinite;
}
.meetcheaf .meetleft .mplaywrap .playicon i.fa {
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 57%;
    transform: translate(-50%, -50%);
}
.meetcheaf .meetleft .mplaywrap .hwork {
    font-weight: 600;
    display: inline-block;
    padding-left: 15px;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(229, 78, 127, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(229, 78, 127, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(229, 78, 127, 0);
	}
}

@keyframes pulse1 {
	0% {
		transform: scale(0.50);
		box-shadow: 0 0 0 0 rgba(229, 78, 127, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(229, 78, 127, 0);
	}

	100% {
		transform: scale(0.50);
		box-shadow: 0 0 0 0 rgba(229, 78, 127, 0);
	}
}

@keyframes pulse2 {
	0% {
		transform: scale(0.50);
		box-shadow: 0 0 0 0 rgba(174, 174, 216, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(174, 174, 216, 0);
	}

	100% {
		transform: scale(0.50);
		box-shadow: 0 0 0 0 rgba(174, 174, 216, 0);
	}
}

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 15px); } 
    100%   { transform: translate(0, -0px); }     
} 


/* ====================
HOME - BLOG
===================== */
.hblog{
    position: relative;
    padding:100px 0 40px 0
}
.hblog:before {
    content: '';
    background-image: url(../img/logo_2.png);
    background-repeat: no-repeat;
    padding-bottom: 62px;
    height: 150px;
    width: 150px;
    position: absolute;
    right: 3%;
    background-size: cover;
    top: 23%;
    transform: rotate(-47deg);

    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.blogwrap {
    margin-top: 15px;
}
.hblog .blogbox {
    padding: 15px;
    background: #ffffff;
    border-radius: 15px;
}
.hblog .blogbox .blogimage {
    height: 250px;
    margin-bottom: 15px;
    border-radius: 15px;
    overflow: hidden;
}
.hblog .blogbox .blogimage img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.hblog .blogbox .blogdate {
    color: #6a7176;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hblog .blogbox .blogdate i.fa{
    margin-right: 3px;
}
.hblog .blogbox h5{
    color: #0a0a33;
    font-size: 20px;
    margin-bottom: 10px;
}
.hblog .blogbox .blogsumm{
    color: #5d5d5d;
}
.hblogslider {
    box-shadow: 0px 0px 50px 17px rgba(0,0,0,0.03);
    background: rgba(0,0,0,0.03);
}
.hblogslider .owl-dots   {
    text-align: center;
    margin-top: 40px;
}
.hblogslider .owl-dot {
    margin: 0 10px;
    outline: none;
}
.hblogslider .owl-dots span {
    width: 58px;
    display: inline-block;
    height: 6px;
    background: #cacaca;
    border-radius: 22px
}
.hblogslider .owl-dot.active span {
    width: 58px;
    display: inline-block;
    height: 6px;
    background: #cf3c3c;
    border-radius: 22px
}
.hblogslider .owl-dots.disabled {
    display: block !important;
}
.hblog .readmore {
    margin-top: 20px;
}
.hblog .readmore a{
    text-decoration: none;
    color: #cf3c3c;
}


/* ====================
HOME - ANALYSIS CONTACT
===================== */
.analysisContact {
    background-color: #f8f8f8;
    padding:50px 0;
}
.analysisContact .analysisLeft {}
.analysisContact .analysisRight {}
.analysisContact .analysisRight .imagewrap{
    text-align: right;
    position: relative;
    z-index: 1;
}
.analysisContact .analysisRight .imagewrap:before{
    content: '';
    background-image: url(../img/dot_image.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 19% 99%;
    padding-bottom: 62px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    height: 200px;
    width: 200px;
    position: absolute;
    left: 79px;
    bottom: -28px;
    z-index: -1;
}
.analysisContact .analysisRight .imagewrap img{
    height: 450px;
    display: inline-block;
}
.analysisContact .subtitle {
    width: 100%;
}
.analysisContact .formwrap {}
.analysisContact .formwrap .form-group{
    margin-bottom: 20px;
}
.analysisContact .formwrap .form-control{
    border: 0;
    background-color: #ffffff;
    padding: 0 20px;
    height: 45px;
    font-weight: 300;
}
.btnchecknow {
    background-color: #cf3c3c;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    border-radius: 5px;
    padding: 7px 25px;
    border:0;
    outline: none;
    font-weight: 300;
    height: 45px;
}


/* ====================
HOME - CONTACT CTA
===================== */
.hcontactinfo {
    padding: 60px 0;
    position: relative;
}
.hcontactinfo .cbox {
    
}
.hcontactinfo .cbox .titleconact{
    color: #000000;
    font-weight: 600;
    margin-bottom: 10px;
}
.hcontactinfo .cbox .titleconact i.fa{
    margin-right: 10px;
}
.hcontactinfo .cbox .coninfo {
    color: #9e9e9e;
    font-weight: 300;
    padding-left: 24px;
}
.hcontactinfo .border {
    border-bottom: 1px solid #9e9e9e;
    margin: 35px 0 0 0;
}

/* ====================
HOME - FOOTER
===================== */
.sitefooter {
    position: relative;
    padding: 20px 0 40px 0;
}
.sitefooter .textcenter {
    text-align: center;
}
.sitefooter .footerwidget {
    display: inline-block;
    text-align: left;
}
.sitefooter .footerwidget .footerlogo {
    margin-bottom: 25px;
}
.sitefooter .footerwidget .footerlogo img{}
.sitefooter .footerwidget .footerlogo a{
    text-decoration: none;
}
.sitefooter .footerinfo {
    color: #9e9e9e;
    margin-bottom: 25px;
    font-weight: 300;
}
.sitefooter .foosocialwrap {
    
}
.sitefooter .sociallist{

}
.sitefooter .sociallist li{
    list-style-type: none;
    display: inline;
    margin-right: 20px;
}
.sitefooter .sociallist li a{
    font-weight: 600;
    font-size: 24px;
}
.sitefooter .sociallist li a i.fa{}
.sitefooter .sociallist .facebook{
    color: #1263af !important;
}
.sitefooter .sociallist .instagram{
    color: #32d1e9 !important;
}
.sitefooter .sociallist .twitter{
    color: #cf3c3c !important;
}
.sitefooter .sociallist .linkedin{
    color: #1a7b9b !important;
}
.sitefooter .footTitle {
    font-weight: 600;
    margin-bottom: 20px;
    color: #0a0a33;
}
.sitefooter .footList {}
.sitefooter .footList li{
    list-style-type: none;
    margin-bottom: 8px;
}
.sitefooter .footList li a{
    color: #9e9e9e;
    text-decoration: none;    
    font-weight: 300;
}
.sitefooter .footList li a:hover{
    color: #cf3c3c;
}



/* =================
COPYRIGHT
================== */
.copyright {
    background-color: #131c43;
    padding: 40px 0;
    position: relative;
}
.copyright:after {
    content: '';
    background-image: url(../img//footer_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    position: absolute;
    height: 186px;
    width: 312px;
    top: -110px;
    right: 0;
}
.copyright .copyrightText {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    font-size: 13px;
}


/* ==================
ANIMATIONS
==================== */
.title1 {
    margin: 0;
    font-size: 8em;
    padding: 0;
}
.title1 span {
    transform: scale(0.9);
    display: inline-block;
}
.title1 span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite
    alternate;
}
.title1 span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
    infinite alternate;
}
  
@keyframes bop {
    0% {
      transform: scale(0.9);
    }
    50%,
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes bopB {
    0% {
      transform: scale(0.9);
    }
    80%,
    100% {
      transform: scale(1) rotateZ(-0deg);
    }
  }
  


/* ====================
Services V2
===================== */
.servicesv2 {
    position: relative;
    padding: 40px 0;
}
.servicesv2 .sbox {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    height: 200px;
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.1);
    margin-bottom: 30px;
    overflow: hidden;
    cursor: pointer;
}

.servicesv2 .sbox .icon {
    margin-bottom: 15px;
    text-align: center;
}
.servicesv2 .sbox  h4 {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
    color: #000000;
}

.servicesv2 .beforehover {
    display: inline-block;
}
.servicesv2 .afterhover {
    display: none;
}
.servicesv2 .sbox:hover {
    background-color: #cc1526;
}
.servicesv2 .sbox:hover  .beforehover {
    display: none !important;
}
.servicesv2 .sbox:hover  .afterhover {
    display: inline-block !important;
}

.servicesv2 .sbox:hover h4 {
    color: #ffffff;
}
.servicesv2 .sbox:hover p {
    color: #ffffff;
}
.servicesv2 .sbox .icon img {
    height: 70px;
}
.arrowMore{
    background: transparent;
    border: 0;
    outline: none;
    font-size: 26px;
    line-height: 0;
    text-align: center;
    width: 100%;
    display: block;
    color: #000000;
}
.arrowMore:focus,
.arrowMore:active {
    outline: none;
    border:0;
}
.servicesv2 .sbox:hover .arrowMore {
    color: #ffffff;
}
.servicesv2 .meetcheaf .meetright .imagewrap {
    text-align:left;
}
.servicesv2 .meetcheaf .meetright .imagewrap:before {
    right: 11px !important;
    bottom: -1px !important;
    left: auto !important;
}
.servicesv2 .sboxactive {
    background-color: #cc1526;
}
.servicesv2 .sboxactive h4 {
    color: #ffffff;
}
.servicesv2 .sboxactive  p {
    color: #ffffff;
}
.servicesv2 .sboxactive .arrowMore {
    color: #ffffff;
}

.servicesv2 .sboxactive .beforehover {
    display: none !important;
}
.servicesv2 .sboxactive .afterhover {
    display: inline-block !important;
}

.servicesv2 .mtext {
    margin-bottom: 15px;
}
.servicesv2 .boxshad {
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.1);
    padding: 15px;
}
.meetcheaf.boxshad:before {
    /* content: '';
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ff5a6f;
    position: absolute;
    top: -16px;
    left: 6%; */
}

.servicesv2 .boxshad {
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.1);
    padding: 15px;
    position: relative;
    border-radius: 8px;
}
.servicesv2 .bigboxactive {
    background-color: #cc1526;
}
.servicesv2 .bigboxactive .title .titleSmall {
    color: #ffffff;
}
.servicesv2 .bigboxactive .title .mainTitle {
    color: #ffffff;
}
.servicesv2 .bigboxactive .title .subtitle {
    color: #ffffff;
}
.servicesv2 .bigboxactive .meetleft .mtext{
    color: #ffffff;
}


/* =========================
DIGITAL MARKETING
========================== */
.innerBanner{
    text-align: center;
    height: 300px;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: -100px;
}
.innerBanner:after{
    content: '';
    background-color: rgba(255,255,255,0.8);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.innerBanner .ibannercontent {
    position: absolute;
    width: 100%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.innerBanner .bredcomb{
    margin-bottom: 20px;
}
.innerBanner .bredcomb li{
    list-style-type: none;
    display: inline-block;
    color: #cd1728;
    text-transform: uppercase;
    padding: 0 5px;
}
.innerBanner .bredcomb li a{
    color: #cd1728;
    text-decoration: none;
    text-transform: uppercase;
}
.innerBanner .bredcomb li a:hover{}
.innerBanner .bannerTitle {
    color: #000000;
    text-transform: uppercase;
}



/* =====================
SAMURAI PROCESS
======================= */
.process {
    position: relative;
    padding: 50px 0;
}
.processlist {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.processlist li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 0 15px;  
}
.processlist .process_img img{
    display: inline-block;
    margin-bottom: 20px;
}
.processlist .pocess_arrow {
}
.processlist h4 {
    color: #0a0a33;
    font-size: 18px;
    
}
.whyUs {
    position: relative;
}
.whyUs .whytext{
    padding-left: 40px;
    margin-bottom: 35px;
}
.whyUs .whytext .wtitle{
    color: #e4505a;
    margin-bottom: 10px;
    position: relative;
}
.whytext .wtitle:before {
    content: "\f00c";
    color: #e4505a;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    left: -35px;
    top: 2px;
    position: absolute;
    font-size: 21px;
}
.whyUs .whytext .wtxt{
    color: #6a7176;
    font-size: 14px;
    line-height: 25px;
}


/* =================
Additional Service
================== */
.addService {
    position: relative;
    padding: 40px 0;
}
.addServiceSlider .itemwrap {
    height: 320px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
}
.addServiceSlider .itemwrap  img {
    width: 150px;
    display: inline-block;
}
.addServiceSlider .csimage {
    display: inline-block;
    margin-bottom: 30px;
}
.addServiceSlider .cswrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.addServiceSlider .subtitle {
    font-size: 24px;
}




/* =======================
PRICING
======================== */
.pricingtable {
    position: relative;
    padding: 50px 0;
}
.pricingtable .pricingbox {
    background-color: #ffffff;
    min-height: 500px;
    box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 30px 15px;
    text-align: center;
}
.pricingtable .pricingbox h4 {   
    color: #cc1526;
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 32px;
    border-bottom: 1px solid #cc1526;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
.pricingbox .rate{
    color: #414141;
    margin-bottom: 30px;    
}
.pricingbox .rate i.fa {
    font-size: 24px;
    position: relative;
    top: -42px;
}
.pricingbox .rate .big {
    font-size: 85px;
    font-weight: 300;
}
.pricingbox .rate .small{
    font-size: 24px;
}
.pricingbox .rate .yearmon{
    font-size: 24px;
}
.pricingbox .ptext {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
}
.pricingbox .ptext .darkgrey{
    color: #414141;
}
.pricingbox .ptext .grey{
    color: #bab0b0;
}
.buyNow {
    background-color: #cc1526;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    font-weight: 600;
    text-decoration: none;
    outline: none;
    height: 50px;
    display: inline-block;
    width: 180px;
}
.buyNow:hover {
    background-color: #414141;
    color: #ffffff;
    text-decoration: none;
}
.pricingbox .btnwrp {
    margin-top: 40px;
}
.cust_package {
    background: #ffffff;
    height: 150px;
    box-shadow: 0px 0px 21px -8px rgba(0,0,0,0.5);
    margin-top: 40px;
    line-height: 145px;
    padding: 0px 25px;
}
.cust_package h4 {
    color: #0a0a33;
    font-size: 42px;
    line-height: 143px;
}